<script setup lang="ts">
import { ref } from "vue";

// import TheSalesOverview from "./dashboardComponents/sales-overview/TheSalesOverview.vue";
// import DailyActivities from "./dashboardComponents/daily-activities/DailyActivities.vue";
// import ProductMonthTable from "./dashboardComponents/project-month-table/ProductMonthTable.vue";
// import BlogCard from "./dashboardComponents/blog-card/BlogCard.vue";
import Summary from "./dashboardComponents/Summary.vue";
import Overview from "./dashboardComponents/Overview.vue";
import Map from "./dashboardComponents/Map.vue";
// import Chart from "./dashboardComponents/Chart.vue";
</script>

<template>
  <v-row>
    <!-- <v-col cols="12" sm="6" md="6">
      <Chart />
    </v-col> -->
    <v-col cols="12" sm="6" md="6">
      <Summary />
    </v-col>
    <v-col cols="12" sm="6" md="6">
      <Overview />
    </v-col>
    <v-col cols="12" sm="12" md="12">
      <Map />
    </v-col>
  </v-row>
</template>
