<template>
  <div class="logo">
    <RouterLink to="/">
      <img src="../../../assets/images/logos/logo2.png" style="width: 100%;"/>
      <!-- <p>Weather Station</p> -->

    </RouterLink>
  </div>
</template>
<script setup lang="ts">
import { RouterLink } from "vue-router";
</script>
