<template>
  <div>
      <v-card      style="
            border-radius: 20px;
            background-color: rgba(255, 255, 255, 0.668);
            color: gray;
          ">
        <v-card-text>
          <h3 class="mb-3">Precipitation</h3>
          <div style="height: 460px" id="mapContainer"></div>
        </v-card-text>
      </v-card>
  </div>
</template>
<script>
import "leaflet/dist/leaflet.css";
import L from "leaflet";

export default {
  name: "LeafletMap",
  data() {
    return {
      map: null,
    };
  },

  mounted() {
    this.map = L.map("mapContainer").setView([14.735, 100.11], 15);
    L.tileLayer("http://{s}.tile.osm.org/{z}/{x}/{y}.png", {
      attribution:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    }).addTo(this.map);
    var IconMap = L.icon({
      iconUrl: "https://images.ctfassets.net/3prze68gbwl1/assetglossary-17su9wok1ui0z7w/c4c4bdcdf0d0f86447d3efc450d1d081/map-marker.png",
      iconSize: [40, 40],
    });
    
    L.marker([14.73519637, 100.10766449], { icon: IconMap }).addTo(
      this.map
    );
  },
  onBeforeUnmount() {
    if (this.map) {
      this.map.remove();
    }
  },
};
</script>

<style scoped>
#mapContainer {
  width: 100%;
  height: 100vh;
}
</style>