<template>
  <div>
    <v-row>
      <v-col cols="12" sm="12" md="12">
        <v-chip style="width: 100%; height: 60px; z-index: 2" :style="{ backgroundColor: color }" class="mx-auto">
          <template v-slot:prepend>
            <img class="custom-img-air" src="https://i.ibb.co/JrFPVks/good.png" alt=""
              v-if="airQuality == 'GOOD' || airQuality == 'FAIR' || airQuality == 'EXCELLENT'" />
            <img class="custom-img-air" src="https://i.ibb.co/bKFH7D2/normal.png" alt=""
              v-if="airQuality == 'NORMAL' || airQuality == 'MEDIOCRE'" />
            <img class="custom-img-air" src="https://i.ibb.co/SQ3CSt3/bad.png" alt="" v-if="airQuality == 'BAD'" />
          </template>
          <span class="custom-text-header-air">
            <span style="color: gray"> Air Quality : &nbsp; </span>
            <span style="font-size: 25px; color: black" class="airQuality mt-5">
              {{ airQuality }}</span></span>
        </v-chip>

        <!-- <div
          style="
            border-radius: 20px;
            background-color: rgba(255, 255, 255, 0.668);
            color: gray;
          "
          class="text-center py-2"
        >
          <v-col cols="6" sm="6" md="6" style="display: inline-block">
            <v-row>
              <v-col cols="3" sm="3" md="3">
                <img
                  class="custom-img-air"
                  src="https://i.ibb.co/JrFPVks/good.png"
                  alt=""
                  v-if="airQuality == 'GOOD'"
                />
                <img
                  class="custom-img-air"
                  src="https://i.ibb.co/bKFH7D2/normal.png"
                  alt=""
                  v-if="airQuality == 'NORMAL'"
                />
                <img
                  class="custom-img-air"
                  src="https://i.ibb.co/SQ3CSt3/bad.png"
                  alt=""
                  v-if="airQuality == 'BAD'"
                />
              </v-col>
              <v-col cols="9" sm="9" md="9">
                Air Quality <br />
                <span
                  style="font-size: 29px; color: black"
                  class="airQuality mt-5"
                >
                  {{ airQuality }}</span
                >
              </v-col>
            </v-row>
          </v-col>
        </div> -->
      </v-col>
      <v-col cols="12" sm="12" md="12">
        <div style="
            border-radius: 20px;
            background-color: rgba(255, 255, 255, 0.668);
            color: gray;
          " class="text-center py-2">
          <h3>Real time Weather Conditions</h3>
        </div>
      </v-col>
      <v-col cols="12" sm="6" md="4">
        <v-card class="mx-auto" style="background-color: rgba(255, 255, 255, 0.668)">
          <v-card-text>
            <div style="text-align: center">
              <img style="vertical-align: middle; width: 30px; height: 30px" src="../../../../public/icon/cloudy.png" />
              <span class="custom-text-header"> Temperature</span>
            </div>

            <h3 class="text-center mt-5">
              <span style="font-size: 35px; color: black">
                {{ temperature }} <sup style="color: gray; font-size: 1rem;"> °C </sup></span>

            </h3>
            <p class="text-center">&emsp;</p>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" sm="6" md="4">
        <v-card class="mx-auto" style="background-color: rgba(255, 255, 255, 0.668)">
          <v-card-text>
            <div style="text-align: center">
              <img style="vertical-align: middle; width: 30px; height: 30px" src="../../../../public/icon/drop.png" />
              <span class="custom-text-header"> Humidity</span>
            </div>

            <h3 class="text-center mt-5">
              <span style="font-size: 35px; color: black"> {{ humidity }}</span>
              <span style="color: gray">%</span>
            </h3>
            <p class="text-center">&emsp;</p>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" sm="6" md="4">
        <v-card class="mx-auto" style="background-color: rgba(255, 255, 255, 0.668)">
          <v-card-text>
            <div style="text-align: center">
              <img style="vertical-align: middle; width: 30px; height: 30px" src="../../../../public/icon/idea.png" />
              <span class="custom-text-header"> Light</span>
            </div>

            <h3 class="text-center mt-5">
              <span style="font-size: 35px; color: black"> {{ Light }}</span>
            </h3>
            <br />
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" sm="12" md="12">
        <div style="
            border-radius: 20px;
            background-color: rgba(255, 255, 255, 0.668);
            color: gray;
          " class="text-center py-2">
          <h3>Real time Air Pullution</h3>
        </div>
      </v-col>
      <v-col cols="12" sm="6" md="4">
        <v-chip color="green-darken-3" style="
            width: 100%;
            height: 60px;
            z-index: 2;
            background-color: #dcdcdc;
          " class="mx-auto">
          <template v-slot:prepend>
            <img style="vertical-align: middle; width: 40px; height: 40px"
              src="../../../../public/icon/wind-socket.png" />
          </template>
          <span class="custom-text-header-air"> Noise </span>
        </v-chip>
        <v-card class="mx-auto" style="
            z-index: 1;
            margin-top: -35px;
            background-color: rgba(255, 255, 255, 0.668);
          ">
          <v-card-text>
            <h3 class="text-center mt-5">
              <span style="font-size: 35px; color: black">
                {{ noise }}</span>
            </h3>
            <p class="text-center">
              <br />
              dB
            </p>
            <!-- <p class="text-center">&emsp;</p>
            <p class="text-center">&emsp;</p> -->
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" sm="6" md="4">
        <v-chip style="width: 100%; height: 60px; z-index: 2" :style="{ backgroundColor: changeColorCo2() }"
          class="mx-auto">
          <template v-slot:prepend>
            <img style="vertical-align: middle; width: 40px; height: 40px" src="../../../../public/icon/flame.png" />
          </template>
          <span class="custom-text-header-air" style="margin-left: 17%">
            O3
          </span>
        </v-chip>
        <v-card class="mx-auto" style="
            z-index: 1;
            margin-top: -35px;
            background-color: rgba(255, 255, 255, 0.668);
          ">
          <v-card-text>
            <h3 class="text-center mt-5">
              <span style="font-size: 29px; color: black"> {{ O3 }}</span>
            </h3>
            <p class="text-center">
              <br />
              ppm
            </p>
            <!-- <p class="text-center">&emsp;</p>
            <p class="text-center">&emsp;</p> -->
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" sm="6" md="4">
        <v-chip color="green-darken-3" style="
            width: 100%;
            height: 60px;
            z-index: 2;
            background-color: #dcdcdc;
          " class="mx-auto">
          <template v-slot:prepend>
            <img style="vertical-align: middle; width: 40px; height: 40px"
              src="../../../../public/icon/precipitation.png" />
          </template>
          <span class="custom-text-header-air"> Precipitation </span>
        </v-chip>
        <v-card class="mx-auto" style="
            z-index: 1;
            margin-top: -35px;
            background-color: rgba(255, 255, 255, 0.668);
          ">
          <v-card-text>
            <h3 class="text-center mt-5">
              <span style="font-size: 29px; color: black">
                {{ precipitation }}</span>
            </h3>
            <p class="text-center">
              <br />
              in last 24H
            </p>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" sm="6" md="4">
        <v-chip color="green-darken-3" style="
            width: 100%;
            height: 60px;
            z-index: 2;
            background-color: #dcdcdc;
          " class="mx-auto">
          <template v-slot:prepend>
            <img style="vertical-align: middle; width: 40px; height: 40px"
              src="../../../../public/icon/atmospheric-pollution.png" />
          </template>
          <span class="custom-text-header-air" style="margin-left: 16%">
            PM 2.5
          </span>
        </v-chip>
        <v-card class="mx-auto" style="
            z-index: 1;
            margin-top: -35px;
            background-color: rgba(255, 255, 255, 0.668);
          ">
          <v-card-text>
            <h3 class="text-center mt-5">
              <span style="font-size: 29px; color: black">
                {{ formatNumber(pm25) }}</span>
            </h3>
            <p class="text-center">
              <br />
              ug/m<sup>3</sup>
            </p>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" sm="6" md="4">
        <v-chip color="green-darken-3" style="
            width: 100%;
            height: 60px;
            z-index: 2;
            background-color: #dcdcdc;
          " class="mx-auto">
          <template v-slot:prepend>
            <img style="vertical-align: middle; width: 40px; height: 40px"
              src="../../../../public/icon/atmospheric-pollution.png" />
          </template>
          <span class="custom-text-header-air" style="margin-left: 16%">
            PM 10
          </span>
        </v-chip>
        <v-card class="mx-auto" style="
            z-index: 1;
            margin-top: -35px;
            background-color: rgba(255, 255, 255, 0.668);
          ">
          <v-card-text>
            <h3 class="text-center mt-5">
              <span style="font-size: 29px; color: black">
                {{ formatNumber(pm10) }}</span>
            </h3>
            <p class="text-center">
              <br />
              ug/m<sup>3</sup>
            </p>
          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="12" sm="6" md="4">
        <v-chip color="green-darken-3" style="
            width: 100%;
            height: 60px;
            z-index: 2;
            background-color: #dcdcdc;
          " class="mx-auto">
          <template v-slot:prepend>
            <img style="vertical-align: middle; width: 40px; height: 40px"
              src="../../../../public/icon/pressure-gauge.png" />
          </template>
          <span class="custom-text-header-air" style="margin-left: 10%">
            Pressure
          </span>
        </v-chip>
        <v-card class="mx-auto" style="
            z-index: 1;
            margin-top: -35px;
            background-color: rgba(255, 255, 255, 0.668);
          ">
          <v-card-text>
            <h3 class="text-center"></h3>
            <h3 class="text-center mt-5">
              <span style="font-size: 29px; color: black"> {{ pressure }}</span>
            </h3>
            <!-- <p class="text-center"><br />Total Volatile Organic Compounds</p> -->
            <p class="text-center">&emsp;</p>
            <p class="text-center">&emsp;</p>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" sm="12" md="12">
        <div style="
            border-radius: 20px;
            background-color: rgba(255, 255, 255, 0.668);
            color: gray;
          " class="text-center py-2">
          <v-row style="    padding: 10px;
    text-align: center;
    justify-content: center;">
            <div>
              <v-badge color="green" inline dot></v-badge>
              GOOD
            </div>
            <div>
              <v-badge color="#ffc000" inline dot></v-badge>
              NORMAL
            </div>
            <div>
              <v-badge color="error" inline dot></v-badge>
              BAD
            </div>
          </v-row>

        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script setup>
import BackendAxios from "@/config/BackendAxios";
import { computed, onBeforeMount, onMounted, ref } from "vue";
const airQuality = ref("");
const temperature = ref(0);
const humidity = ref(0);
const uv = ref(0);
const precipitation = ref(0);
const wind = ref(0);
const pressure = ref(0);
const pm25 = ref(0);
const pm10 = ref(0);
const tvoc = ref(0);
const token = ref("");
const co2 = ref(0);
const O3 = ref(0);
const Light = ref(0);
const noise = ref(0)
const color = ref(" rgba(255, 255, 255, 0.668)");

onMounted(() => {
  setInterval(() => {
    checkLogin();
  }, 5000);
});

function checkLogin() {
  if (token.value == "") {
    loginUser();
    setTimeout(() => {
      initData();
    }, 1000);
  } else {
    initData();
  }
}

function loginUser() {
  let formData = new FormData();
  formData.append("username", "tenant@thingsboard.org");
  formData.append("password", "tenant");
  BackendAxios.post("auth/login", formData)
    .then((response) => {
      token.value = response.data.token;
      localStorage.setItem("token", token.value);
    })
    .catch((error) => {
      console.log(error);
    });
}
function initData() {
  BackendAxios.get(
    "plugins/telemetry/DEVICE/9f8285b0-af80-11ee-8de8-732abc7bae5d/values/timeseries",
    {
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json",
        Authorization: `Bearer ${token.value}`,
      },
    }
  )
    .then((response) => {
      temperature.value = response.data.temperature[0]?.value;
      humidity.value = response.data.humidity[0]?.value;
      pm25.value = response.data["PM2.5"][0]?.value;
      pm10.value = response.data["PM10"][0]?.value;
      co2.value = response.data["CO2"][0]?.value;
      O3.value = response.data["O3"][0]?.value;
      Light.value = response.data["uv_index"][0]?.value;
      noise.value = response.data?.noise[0]?.value;
      pressure.value = response.data?.pressure[0]?.value ?? 0;
      precipitation.value = response.data?.precipitation[0]?.value ?? 0;
      console.log(`pressure : ${pressure.value}`);
      setTimeout(() => {
        calAirQuality();
      }, 1000);
    })
    .catch((error) => {
      console.log(error);
    });
}
function calAirQuality() {
  if (co2.value >= 2100) {
    airQuality.value = "BAD";
  } else if (co2.value >= 1600) {
    airQuality.value = "BAD";
  } else if (co2.value >= 1100) {
    airQuality.value = "MEDIOCRE";
  } else if (co2.value >= 900) {
    airQuality.value = "FAIR";
  } else if (co2.value >= 700) {
    airQuality.value = "GOOD";
  } else if (co2.value >= 400) {
    airQuality.value = "EXCELLENT";
  } else {
    airQuality.value = "EXCELLENT";
  }
  changeColor();
}

function formatNumber(value) {
  let num = parseFloat(value);
  return num.toFixed(2);
}

function changeColor() {
  const airQualityElement = document.querySelector(".airQuality");

  switch (airQuality.value) {
    case "GOOD":
      color.value = "#DDFFC9";
      airQualityElement.style.color = "#77BC4F";
      break;
    case "FAIR":
      color.value = "#DDFFC9";
      airQualityElement.style.color = "#77BC4F";
      break;
    case "EXCELLENT":
      color.value = "#DDFFC9";
      airQualityElement.style.color = "#77BC4F";
      break;
    case "MEDIOCRE":
      color.value = "#FFEBC3";
      airQualityElement.style.color = "#FFBA30";
      break;
    case "BAD":
      color.value = "#FFDADA";
      airQualityElement.style.color = "#EA3134";
      break;
  }
}
function changeColorCo2() {
  let co = co2.value;
  if (co >= 2100) {
    return "#ff000a";
  } else if (co >= 1600) {
    return "#ff8a00";
  } else if (co >= 1100) {
    return "#ffc000";
  } else if (co >= 700) {
    return "#8dc900";
  } else if (co >= 400) {
    return "#00b43d";
  } else {
    return "#00b43d";
  }
}
</script>

<style>
.custom-img-air {
  width: 53px;
}

.custom-text-header {
  vertical-align: middle;
  font-weight: bolder;
  font-size: 0.8rem;
}

.custom-text-header-air {
  vertical-align: middle;
  font-weight: bolder;
  font-size: 1.2rem;
}

.v-badge--dot .v-badge__badge {

  width: 20px !important;
}
</style>