<template>
  <div>
    <v-row>
      <v-col cols="12" sm="12" md="12">
        <v-card class="mx-auto"      style="
            border-radius: 20px;
            background-color: rgba(255, 255, 255, 0.668);
            color: black;
          ">
          <v-card-text>
            <br>     
            <h2>Weather Summary</h2>
            <p class="my-6">
              • อธิบายสภาพอากาศวันนี้ โดยการนำค่าฝุ่นไป Analyze และค่าต่าง ๆ
              ที่ใช้ในการคาดการณ์การตกของฝน <br />
              • เช่น heavy Rain warning untill 18.00, Thursday, 2 October. Air
              Quality is good
              <br>      <br>
            </p>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" sm="12" md="12">
        <v-card
          style="
            border-radius: 20px;
            background-color: rgba(255, 255, 255, 0.668);
            color: gray;
          "
        >
          <v-card-text>
            <v-carousel
              show-arrows="hover"
              hide-delimiters
              cycle
              hide-delimiter-background
            >
              <v-carousel-item
                v-for="(item, i) in items"
                :key="i"
                :src="item.src"
                cover
              ></v-carousel-item>
            </v-carousel>
          </v-card-text>
        </v-card>
      </v-col>

    </v-row>
  </div>
</template>
<script>
import L from "leaflet";


export default {
  name: "LeafletMap",
  data() {
    return {
      map: null,
      items: [
        {
          src: "../../../slide/image-1.jpg",
        },
        {
          src: "../../../slide/image-2.jpg",
        },
        {
          src: "../../../slide/image-4.jpg",
        },
        {
          src: "../../../slide/image-5.jpg",
        },
        {
          src: "../../../slide/image-6.jpg",
        },
        {
          src: "../../../slide/image-7.jpg",
        },
        {
          src: "../../../slide/image-8.jpg",
        },
        {
          src: "../../../slide/image-9.jpg",
        },
        {
          src: "../../../slide/image-10.jpg",
        },
        {
          src: "../../../slide/image-11.jpg",
        },
        {
          src: "../../../slide/image-12.jpg",
        },
        {
          src: "../../../slide/image-13.jpg",
        },
        {
          src: "../../../slide/image-14.jpg",
        },
        {
          src: "../../../slide/image-15.jpg",
        },
        {
          src: "../../../slide/image-16.jpg",
        },
        {
          src: "../../../slide/image-17.jpg",
        },
        {
          src: "../../../slide/image-18.jpg",
        },
        {
          src: "../../../slide/image-19.jpg",
        },
      ],
    };
  },
};
</script>

<style scoped>
#mapContainer {
  width: 100%;
  height: 100vh;
}
</style>
<style>
.v-btn.v-btn--density-default{
  background-color: white !important;

}
</style>